body {
  font-family:Helvetica;
}
.title {
  background-image: url(../images/the-flatiron-building.png);
  background-size: 100% 100%;
  text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.nav a {
  color:white;
    font-size: 18px;
}
h2{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: 23px;
  font-weight: bold;
    text-align: center;
}
p {
  font-size: 14px;
  text-align: center;
}
.design,
.design p {
  background-image: url(../images/the-flatiron-building.png);
  background-size: cover;
  color: white;
  font-size: 23px;
  font-weight:bold;
  text-align: center;
}
.copy {
  background-color: dimgray;
  color: white;
  font-size: 11px;
}
